

footer
{
    background-color: $color-fond;
    color: $color-text-footer;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-bottom: 5%;
    width: 100%;

    h1
    {
        font-family: "Roboto",sans-serif;

        /*Desktop*/
        @media screen and (min-width : 801px) and (orientation : landscape) {
            font-size : 1em;
        }

        /* Phone paysage*/
        @media screen and (max-width : 800px) and (orientation : landscape) {
            font-size : 5em;
        }
    
        /*Phone*/
        @media screen and (orientation : portrait){
            font-size : 5em;
        }
    }

    a{
        text-decoration: none;
        color: $color-text-footer;
        font-family: Roboto;

        /*Desktop*/
        @media screen and (min-width : 801px) and (orientation : landscape) {
            font-size : 1em;
        }

        /* Phone paysage*/
        @media screen and (max-width : 800px) and (orientation : landscape) {
            font-size : 5em;
        }
    
        /*Phone*/
        @media screen and (orientation : portrait) {
            font-size : 5em;
        }
    }
    
}