

footer
{
    background-color: $color-fond;
    color: $color-text-footer;

    display: flex;
    flex-direction: column;

    width: 80em;

    padding-left: 10%;

    h1
    {
        font-family: Roboto;
        font-size : 5em;
    }

    a{
        text-decoration: none;
        font-size : 5em;
        color: $color-text-footer;
        font-family: Roboto;
    }
    
}