
 @mixin Ombre
 {
     box-shadow: 0 10px 20px  $color-fond;
 }

 
.intro_btn {
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border: none;
    border-radius: 100px;
    box-shadow: 5px 5px 20px #CFCFCF;
}

.bouttons
{
    color: white;
    transform: scale(1);

    /*Desktop*/
    @media screen and (min-width : 801px) and (orientation : landscape) {
        font-size: 1.5em;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
    }

    /* Phone paysage*/
    @media screen and (max-width : 800px) and (orientation : landscape) {
        font-size: 60px;
        margin-bottom: 300px;
        padding-top: 70px;
        padding-bottom: 70px;
        padding-right: 80px;
        padding-left: 80px;
    }


    /*Phone*/
    @media screen and (orientation : portrait) {
        font-size: 60px;
        margin-bottom: 300px;
        padding-top: 70px;
        padding-bottom: 70px;
        padding-right: 80px;
        padding-left: 80px;
    }

    &:hover{
        transform: scale(1.1);
    }
}

.Btn_liste_accueil
{
    background-color: $color-fond-clair;
    border-radius: 90px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-bottom : 1.5em;
    z-index: 1;

    @include Ombre;

    /*Desktop*/
    @media screen and (min-width : 801px) and (orientation : landscape) {
        margin-left: 1em;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    /* Phone paysage*/
    @media screen and (max-width : 800px) and (orientation : landscape) {
        margin-left: 1em;
    }

    /*Phone*/
    @media screen and (orientation : portrait) {
        margin-left: 1em;
    }

    i
    {
        color: $color-icon-btn_liste;
        font-size: 1.2em;
        margin-left: 0.2em;
    }

    p
    {
        display: block;
        margin-left: 1em;
        font-family: Roboto, bold;
        font-size: 1em;
    }

    &:hover
    {
        &::after{
            opacity: 20%;
        }
        i
        {
            color: $color-primaire;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $color-primaire;
        border-radius: 90px;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }

}

.Numerotation_liste_accueil
{
    display: inline-block;
    position: relative;
    background-color: $color-primaire;
    color: white;
    border-radius: 50%;
    font-size: 1em;

    /*Desktop*/
    @media screen and (min-width : 801px) and (orientation : landscape) {
        padding: 10px 15px 10px 15px;
        left: -20px;
    }

    /* Phone paysage*/
    @media screen and (max-width : 800px) and (orientation : landscape) {
        padding: 20px 35px 20px 35px;
        left: -50px;
    }

    /*Phone*/
    @media screen and (orientation : portrait) {
        padding: 20px 35px 20px 35px;
        left: -50px;
    }
    
}




.Souligne_Texte
{
    border-bottom: 15px solid $color-tertiaire;

    /*Desktop*/
    @media screen and (min-width : 801px) and (orientation : landscape) {
        width: 50px;
        margin-left: 80px;
    }

    /* Phone paysage*/
    @media screen and (max-width : 800px) and (orientation : landscape) {
        width: 150px;
        margin-left: 80px;
    }

    /*Phone*/
    @media screen and (orientation : portrait) {
        width: 150px;
        margin-left: 80px;
    }
}

.Etiquette_Nouveau
{
    background-color: $color-tertiaire;
    position: absolute;
    display: flex;

    /*Desktop*/
    @media screen and (min-width : 801px) and (orientation : landscape){
        margin-left: 400px;
        margin-top: 10px;
        border-radius: 10px;
    }

    /* Tablette paysage*/
    @media screen and (min-width : 1023px) and (orientation : landscape) {
        margin-left: 400px;
        margin-top: 10px;
        border-radius: 10px;
    }

    /* Tablette portrait*/
    @media screen and (min-width : 1023px) and (orientation : portrait) {
        margin-left: 70%;
        margin-top: 30px;
        border-radius: 20px;
    }

    /* Phone paysage*/
    @media screen and (max-width : 800px) and (orientation : landscape) {
        margin-left: 70%;
        margin-top: 30px;
        border-radius: 20px;
    }

    /*Phone*/
    @media screen and (max-width : 800px) {
        margin-left: 70%;
        margin-top: 30px;
        border-radius: 20px;
    }
    
    span{
        color: #006400;
        font-family: "Roboto", sans-serif;

        /*Desktop*/
        @media screen and (min-width : 801px) and (orientation : landscape) {
            font-size: 20px;
            padding: 10px;
            margin: 0;
        }

        /* Phone paysage*/
        @media screen and (max-width : 800px) and (orientation : landscape) {
            font-size: 50px;
            padding: 30px;
            margin: 0;
        }  
    
        /*Phone*/
        @media screen and (orientation : portrait) {
            font-size: 50px;
            padding: 30px;
            margin: 0;
        }
    }
}