
 @mixin Ombre
 {
     box-shadow: 0 10px 20px  $color-fond;
 }

.bouttons
{
    background: $color-degrade;
    color: white;
    border : none;
    border-radius: 3em;

    @include Ombre;
    transform: scale(1);

    @media screen and (min-width : 640px) {
        font-size: 1em;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
    }

    @media screen and (max-width : 640px) {
        font-size: 60px;
        margin-bottom: 300px;
        padding-top: 70px;
        padding-bottom: 70px;
        padding-right: 80px;
        padding-left: 80px;
    }

    &:hover{
        transform: scale(1.1);
    }
}

.Btn_liste_accueil
{
    background-color: $color-fond-clair;
    border-radius: 90px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-bottom : 1.5em;
    z-index: 1;

    @include Ombre;

    @media screen and (min-width : 640px) {
        margin-left: 1em;
    }

    @media screen and (max-width : 640px) {
        margin-left: 1em;
    }

    i
    {
        color: $color-icon-btn_liste;
        font-size: 1.2em;
        margin-left: 0.2em;
    }

    p
    {
        display: block;
        margin-left: 1em;
        font-family: Roboto, bold;
        font-size: 1em;
    }

    &:hover
    {
        &::after{
            opacity: 20%;
        }
        i
        {
            color: $color-primaire;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $color-primaire;
        border-radius: 90px;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }

}

.Numerotation_liste_accueil
{
    display: inline-block;
    position: relative;
    background-color: $color-primaire;
    color: white;
    border-radius: 50%;

    @media screen and (min-width : 640px) {
        padding: 5px 15px 5px 15px;
        left: -20px;
    }

    @media screen and (max-width : 640px) {
        padding: 20px 35px 20px 35px;
        left: -50px;
    }
    font-size: 1em;
}




.Souligne_Texte
{
    border-bottom: 15px solid $color-tertiaire;

    @media screen and (min-width : 640px) {
        width: 50px;
        margin-left: 80px;
    }

    @media screen and (max-width : 640px) {
        width: 150px;
        margin-left: 80px;
    }
}

.Etiquette_Nouveau
{
    background-color: $color-tertiaire;
    position: absolute;
    display: inline-block;


    @media screen and (min-width : 640px) {
        margin-left: 410px;
        margin-top: 10px;
        border-radius: 10px;
    }

    @media screen and (max-width : 640px) {
        margin-left: 70%;
        margin-top: 30px;
        border-radius: 20px;
    }
    
    p{
        color: #006400;
        font-family: "Roboto", sans-serif;

        @media screen and (min-width : 640px) {
            font-size: 20px;
            padding: 10px;
            margin: 0;
        }
    
        @media screen and (max-width : 640px) {
            font-size: 50px;
            padding: 30px;
            margin: 0;
        }
    }
}