


    @font-face {
        font-family: "Shrikhand";
        src: url('../../police/Shrikhand-Regular.ttf');
    }



    @font-face {
        font-family: "Roboto";
        src:url('../../police/Roboto-Medium.ttf'),
    }

    @font-face {
        font-family: "Roboto-light";
        src:url('../../police/Roboto-Light.ttf');
    }



