
.Img_Menu{
    position: absolute;
    z-index: -1;

    @media screen and (min-width : 641px) {
        top: 50px;
    }

    @media screen and (max-width : 640px) {
        top: 100px;
    } 
    
    img{
        

        @media screen and (min-width : 641px) {
            width: 55em;
            height: 25em;
            margin-top: 50px;
        }
    
        @media screen and (max-width : 640px) {
            width: 85em;
            height: 55em;
            margin: 0;
        } 
    }
}


.Menu{
    background-color: $color-fond-clair;

    @media screen and (min-width : 641px) {
        width: 55em;
        margin-top: 400px;
        border-radius: 100px 100px 0 0;
        margin-left: 20%;
    }

    @media screen and (max-width : 640px) {
        width: 85em;
        margin: 0;
        padding: 0;
        border-radius: 200px 200px 0 0;

    } 

    .Titre_Menu{
        
        
        padding-left: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @media screen and (min-width : 641px) {
            font-size: 1.3em;
            padding-top: 50px;
        }
    
        @media screen and (max-width : 640px) {
            font-size: 3em;
            padding-top: 100px;
        }

        h1{
            margin: 0;
            font-family: "Shrikhand";
        }

        i{
            font-size: 2em;
            margin-right: 1.5em;
        }
    }
    section{
        animation: Loading_Menu-translate 1000ms 100ms ;
    }

    section h1 
    {
        font-weight: normal;

        @media screen and (min-width : 641px) {
            font-size: 1.5em;
        }
    
        @media screen and (max-width : 640px) {
            font-size: 5em;
        }
    }

    input
    {
        margin: 200px 200px 200px 350px;
    }


}

.Etiquette_Menu
{
    background-color: white;
    border-radius: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
    height: 4em;

    padding: 0.3em 1.5em 1em 1.5em;
    margin: 1.5em 1em 1.5em 0;

    animation: Loading_Menu_scale 1000ms 2000ms ;

    @media screen and (min-width : 641px) {
        font-size: 1.2em;
    }

    @media screen and (max-width : 640px) {
        font-size: 3em;
    }

    .Indication_Menu
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    h2
    {
        margin: 0;
        padding: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @media screen and (min-width : 641px) {
            font-size: 1.5em;
        }
    
        @media screen and (max-width : 640px) {
            font-size: 1.4em;
        }
    }

    h3
    {
        margin: 0;
        padding: 0;
        font-weight: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    h4
    {
        margin: 0 1em 0  0;
        padding: 0;
    }

    &::before{
        transform: scale(0);
    }

    &:nth-child(1){
        animation-delay: 0.1s;
    }
    &:nth-child(2){
        animation-delay: 0.4s;
    }
    &:nth-child(3){
        animation-delay: 0.7s;
    }
    &:nth-child(4){
        animation-delay: 1s;
    }
}